@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Figma design tokens */
  --bg-dark: #020617;
  --bg-medium: #0F172A;
  --border: #334155;
  --blue-team: #3B82F6;
  --red-team: #EF4444;
  --card-bg: #1E293B;
  --text-gray: #94A3B8;
  --gold: #C89B3C;
  --stroke-champ: rgba(51, 65, 85, 0.4);
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Inter', system-ui, sans-serif;
  background: var(--bg-dark);
  color: var(--text-gray);
}

#root {
  height: 100%;
  overflow: hidden;
}
.scroll-theme{
  background: #0f172a;
  border: 2px solid #c89b3c;
  border-radius: 20px;

  box-shadow:
    0 0 40px rgba(0,0,0,0.7),
    inset 0 0 20px rgba(0,0,0,0.4);

  position: relative;
}

/* Scroll top roll */
.scroll-theme::before{
  content:"";
  position:absolute;
  top:-20px;
  left:20px;
  right:20px;
  height:25px;

  background:#1e293b;
  border-radius:20px;
  border:2px solid #c89b3c;
}

/* Scroll bottom roll */
.scroll-theme::after{
  content:"";
  position:absolute;
  bottom:-20px;
  left:20px;
  right:20px;
  height:25px;

  background:#1e293b;
  border-radius:20px;
  border:2px solid #c89b3c;
}